.upvote {
    font-weight: 900;
    font-size:large;
    vertical-align:middle;
    float:left;
    padding-top:1em;
    padding-bottom: 1em;
    padding-left:0.5em;
    padding-right: 0.5em;
}

.post {
    border-color:    black;
    border-width: 0.5px;
    border-style: solid;
}


.title {
    font-size: x-large;
}

.subtitle {
    font-size: small;
}

.description {
    font-size:6px;
    padding-left:15px;
}

section {
    float: left;
    vertical-align: middle;
}

nav {
    padding:20px 20px 0 0;
    display: block;
    float:left;
    vertical-align: middle;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    display:block;
    background-color:#ddd;
}